.btn {
  border-radius: 20px;
  font-size: 1.2rem;
  color: white;
  background: #016b6b;
  border: none;
  padding: 10px 20px;
}

.btn-share {
  border-radius: 12px;
  font-size: 0.5rem;
  background: transparent;
  border: 1px solid #fff;
  padding: 5px 20px;
  text-align: left;
  display: flex;
  align-items: center;
}

.btn-share > :first-child {
  margin-right: 0.5rem;
}
