<div class="track">
  <div class="track--avatar-box">
    <img
      class="track__artist-avatar"
      src="../../assets/Michael Jackson.png"
      alt="Artist Avatar Michael Jackson"
    />
  </div>
  <div class="track--description-box">
    <h3 class="track__name">Billie Jean</h3>
    <span class="track__artist">Michael Jackson</span>
  </div>
  <div class="track--button-box">
    <button>
      <img
        class="track__action-button"
        src="../../assets/playaction.svg"
        alt="Artist Cover Michael Jackson"
      />
    </button>
  </div>
  <div class="track--border"></div>
</div>
