@import url("./assets/fonts/circular-std-font.css");

:root {
  --font-color-primary: #ffffffcc;
  --font-color-secondary: #ffffffff;
  --font-color-active: #d9519d;
  --font-color-inactive: #ffffff47;
  --bg-color-primary: #151827;
  --bg-color-active: linear-gradient(180deg, #ed8770 0%, #d9519d 100%);
  --bg-color-inactive: #63666e;
  --font-family: "Circular Std", sans-serif;
  /* --dark-theme: invert(1); */
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-size: 16px;
  background-color: var(--bg-color-primary);
  color: var(--font-color-primary);
  font-family: var(--font-family);
  font-weight: 400;
  /* filter: var(--dark-theme, invert(1)); */
}

input,
button,
select,
optgroup,
textarea {
  margin: 0;
  font-family: var(--font-family);
  font-weight: 500;
}
