@import url("./assets/fonts/circular-std-font.css");

:root {
  --main-font-color: #fff;
  --main-background-color: #151827;
  --font-family: "Circular Std", sans-serif;
  /* --dark-theme: invert(1); */
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-size: 16px;
  background-color: var(--main-background-color);
  color: var(--main-font-color);
  font-family: var(--font-family);
  font-weight: 400;
  /* filter: var(--dark-theme, invert(1)); */
}

input,
button,
select,
optgroup,
textarea {
  margin: 0;
  font-family: var(--font-family);
  font-weight: 500;
}
